.single-card-tv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.single-card-tv .card-img-top {
    width: 100%;
    height: auto;
}

.single-card-tv .cardBody {
    padding: 8px 4px;
}

.single-card-tv .card-title {
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.single-card-tv .btn {
    margin-right: 4px;
    font-size: 0.8rem;
}
